/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #484848;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  width: 95%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  margin: 15px;
  line-height: 25px;
  letter-spacing: medium;
}

.main {
  color: black;
}

h2 {
  font-size: xx-large;
}

h3,
h2 {
  color: #000000;
}

.form-section {
  width: 35%;
  background-color: #f9a602;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(12, 8, 8, 0.1);
}

.resume-preview {
  width: 55%;
  background-color: #f9a602;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(12, 8, 8, 0.1);
  overflow: auto;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form textarea {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid #90edef;
  background-color: #d4d4d4;
}

.preview-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Button Styles */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.download-button,
.share-button,
.edit-button,
.save-button {
  margin: 8px;
}

.resume-container {
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: #d4d4d4;
  padding: 15px;
  border-radius: 10px;
  overflow: auto;
}

.aside {
  background-color: #484848;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

h4 {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  width: 80%;
  color: white;
  background-color: #000066;
  border-radius: 50px;
}

h3:hover,
h4:hover {
  text-transform: uppercase;
}

ul {
  color: white;
}

ul li {
  list-style-type: disc;
  margin: 5px;
  padding: 8px;
  transition: background 0.3s;
  border-radius: 5px;
}

#preview-name {
  display: flex;
  justify-content: left;
  text-transform: uppercase;
  font-size: xxx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#profile-picture {
  margin: 15px;
  max-width: 150px;
  border-radius: 50%;
}

#upload-image {
  width: 45%;
  padding: 10px 10px;
  margin-top: 15px;
  height: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Specific Styles for Add and Remove Buttons */
#add-education-button,
#add-experience-button,
.remove-education-button,
.remove-experience-button {
  margin-top: 10px;
  display: inline-block;
}

.remove-education-button,
.remove-experience-button {
  background-color: #dc3545;
}

.remove-education-button:hover,
.remove-experience-button:hover {
  background-color: #c82333;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .form-section,
  .resume-preview {
    width: 90%;
  }

  .resume-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .preview-head {
    flex-direction: column;
    align-items: flex-start;
  }

  #upload-image {
    width: 50%;
  }

  #preview-name {
    font-size: 24px;
  }

  h4 {
    width: 90%;
  }

  button {
    width: 90%;
    margin-top: 5px;
  }
}

@media (max-width: 480px) {
  form input,
  form textarea {
    width: 90%;
  }

  .aside, .main, .resume-preview,.resume-container{
    overflow:auto;
  }

  button {
    font-size: 14px;
  }
}
